<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title || "Application" %></title>
	<%= stylesheet_link_tag 'main' %>
	<%= javascript_include_tag :application %>
</head>
<body>

    <%= yield %>


</body>
</html>